// Body customisation
$body-bg: #1D2021;
$body-color: #EBDBB2;

// Card customisation
$card-box-shadow: 0 3px 6px rgb(0 0 0 / 24%), 0 3px 6px rgb(0 0 0 / 32%);
$card-bg: #282828;
$card-color: #EBDBB2;
$card-cap-bg: #458588;
$card-cap-color: #EBDBB2;

// List-item customisation
$list-group-bg: #282828;
$list-group-color: #EBDBB2;
$list-group-border-color: #EBDBB2;

// Modal customisation
$modal-content-color: #EBDBB2;
$modal-content-bg: #282828;

// Input customisation
$input-bg: #282828;
